body {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1, h2, h3, h4, h5, h6 {
  color: #111;
}

p {
  color: #555;
}

.navbar-brand {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFD700;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.nav-link {
  color: #333 !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #eee;
  transform: scale(1.05);
}

.nav-link:active {
  transform: scale(0.95);
}

.carousel-container {
  width: 33.33%;
  margin: auto;
}

.carousel-video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.carousel-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.courses-container {
  background-color: #fafafa;
}

.course {
  background-color: #ddd;
  border-radius: 15px;
  color: #333;
}

button {
  background-color: #f5f5f5;
  color: #333;
}

button:hover {
  background-color: #e0e0e0;
  color: #333;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-link {
  color: white !important;
  text-decoration: none !important;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s, transform 0.2s;
  display: flex;
  align-items: center;
}

.nav-link svg {
  margin-right: 0.5rem;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.nav-link:active {
  transform: scale(0.95);
}

.carousel-container {
  width: 33.33%; /* take up one third of the screen */
  margin: auto; /* center the container */
}

.carousel-video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; /* maintains the 16:9 ratio */
}

.carousel-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h3 {
  font-size: 24px;
  font-weight: bold;
  color: #FFD700;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0;
}

.courses-container {
  background-color: #f6e6e9;
}

.course {
  background-color: #9d9895;
  border-radius: 15px;
  color: #efecea;
}

button {
  background-color: #c2ab7d;
  color: #2e2a24;
}

button:hover {
  background-color: #d8c398;
  color: #2e2a24;
}
