@import './colours.less';

body {
  background-color: @secondary-light-grey;
  font-family: 'Montserrat', sans-serif;
  color: @primary-dark-grey;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6, p {
  color: @primary-dark-grey;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: @primary-gold;
}

.hero-container {
  background-color: @primary-dark-brown;
  color: @tertiary-white;
  padding: 50px 0;
  text-align: center;

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }

  .btn {
    margin-top: 20px;
    background-color: @primary-gold;
    border: none;
    padding: 10px 20px;
    color: @tertiary-white;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken(@primary-gold, 10%);
    }
  }
}

.hero-container {
  background-image: url('~../public/images/LG-hero-image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-content {
  background-color: @secondary-blue;
  opacity: 0.95;
  padding: 20px;
  text-align: center;
}

.hero-title {
  color: @secondary-gold;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin: 0;
  padding: 0;
}

.hero-description {
  color: @secondary-gold;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin: 10px 0;
}

.hero-button {
  margin-top: 20px;
}

.carousel-video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.carousel-embed-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100% !important;
}

.carousel-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Courses Styles
.courses-container {
  padding: 30px;

  .course-card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 15px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    .course-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .card-body {
      background-color: @tertiary-soft-gold;
      color: @primary-dark-brown;

      h5 {
        color: @primary-dark-grey;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: @primary-dark-grey;
      }

      .btn {
        background-color: @primary-gold;
        border: none;
        padding: 10px 20px;
        color: @tertiary-white;
        transition: all 0.3s ease;

        &:hover {
          background-color: darken(@primary-gold, 10%);
        }
      }
    }
  }
}

button {
  background-color: @secondary-blue;
  color: @primary-dark-grey;

  &:hover {
    background-color: @primary-gold;
    color: @primary-dark-brown;
  }
}

.navbar {
  background-color: @primary-dark-grey;

  .navbar-brand {
    color: @primary-gold;

    &:hover {
      color: @tertiary-soft-gold;
    }
  }

  .nav-link {
    color: @secondary-light-grey;

    &:hover {
      color: @tertiary-white;
    }
  }
}

.navbar-toggler {
  // display: none; // Hide the toggler until the dropdown menu is working
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: @secondary-blue;
  border-bottom: 3px solid @primary-gold; /* Adding a gold border at the bottom */
}

.navbar-brand {
  color: @primary-gold; /* Changing brand color to gold */
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-link {
  color: @tertiary-soft-gold; /* Changing link color to a softer gold */
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: color 0.2s, transform 0.2s;
  display: flex;
  align-items: center;
  font-weight: bold; /* Making the text bold */
}

.nav-link svg {
  margin-right: 0.5rem;
  transition: color 0.2s; /* Adding transition to icon color */
}

.nav-link:hover,
.nav-link:focus {
  color: @primary-gold; /* Changing text and icon color to gold on hover and focus */
  transform: scale(1.05);
}

.nav-link:active {
  transform: scale(0.95);
}

.carousel-caption {
  background-color: fade(@primary-dark-grey, 70%);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h3 {
  font-size: 24px;
  font-weight: bold;
  color: @primary-gold;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 18px;
  color: @tertiary-white;
  margin-bottom: 0;
}

.carousel-container {
  width: 100%; // Full width on mobile devices
  max-width: 1140px; // Maximum width of 1140px on desktops
  margin: 0 auto; // Center the container
  position: relative;
  padding: 1rem; // Reduce padding for very small screens
  background: @tertiary-soft-gold;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 376px) {
    max-width: 360px; // Maximum width of 360px on small mobile devices
    padding: 1.5rem; // Increase padding for slightly larger screens
  }

  @media screen and (min-width: 576px) {
    max-width: 540px; // Maximum width of 540px on large mobile devices
    padding: 1.5rem; // Increase padding for larger screens
  }

  @media screen and (min-width: 768px) {
    max-width: 720px; // Maximum width of 720px on tablets
  }

  @media screen and (min-width: 992px) {
    max-width: 960px; // Maximum width of 960px on small laptops
    width: 66.67%; // 2/3rd width on larger screens
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    display: none;
  }
}

.slick-dots {
  bottom: -45px;

  li {
    margin: 0 3px;

    button:before {
      font-size: 12px;
      color: @primary-dark-grey;
      opacity: 0.5;
    }
  }

  .slick-active button:before {
    color: @primary-dark-grey;
    opacity: 1;
  }
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: @primary-dark-grey;
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}

.social-links-card {
  background-color: @secondary-light-grey;
  color: @primary-dark-grey;
}

.social-links-header {
  font-weight: bold;
}

.social-icon {
  margin-right: 5px;
}

.social-link-tile {
  display: inline-block;
  padding: 15px;
  margin: 10px;
  background-color: @tertiary-soft-gold;
  border: 1px solid @primary-dark-grey;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.social-link-tile:hover {
  background-color: @primary-gold;
  border-color: @secondary-blue;
}

.social-link-tile:active {
  background-color: @secondary-blue;
  border-color: @primary-dark-brown;
}

.social-link-tile:focus {
  background-color: @primary-gold;
  border-color: @primary-dark-brown;
  outline: none;
}

.youtube-link {
  display: inline-block;
  padding: 0.5em 2em;
  color: @primary-dark-grey;
  background-color: @primary-gold;
  border: 2px solid @primary-dark-brown;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section {
  margin-top: 250px;  // Or whatever size you prefer
}

.about-us-section {
  background-color: @secondary-light-grey;
}

.contact-us-section {
  background-color: @tertiary-yellow-gold;
}

.liquid-gold-heading {
  color: @primary-gold;
}

.videos-section {
  background-color: @tertiary-white;
}

.youtube-link {
  font-weight: bold;
}

.social-links-section {
  background-color: @secondary-light-grey;
}

.courses-section {
  background-color: @primary-light-gold;
}
