// /* Primary Colours */
// @primary-dark-grey: #333;
// @primary-gold: #FFD700;
// @primary-dark-brown: #5C4033;
// @primary-light-grey: #777;
// @primary-light-gold: #FFEBCD;
// @primary-light-brown: #A67C52;

// /* Secondary Colours */
// @secondary-light-grey: #f5f5f5;
// @secondary-blue: #274472;
// @secondary-dark-grey: #666;
// @secondary-gold: #FFC125;
// @secondary-dark-blue: #102E4A;

// /* Tertiary Colours */
// @tertiary-white: #ffffff;
// @tertiary-soft-gold: #F0EAD6;
// @tertiary-grey: #CCCCCC;
// @tertiary-yellow-gold: #EEDC82;
// @tertiary-dark-white: #F2F2F2;

/* Primary Colours */
@primary-dark-grey: #c9bb9e;
@primary-gold: #ffbd2b;
@primary-dark-brown: #776c5a;
@primary-light-grey: #a69780;
@primary-light-gold: #514232;
@primary-light-brown: #a9a198;

/* Secondary Colours */
@secondary-light-grey: #e2d4b5;
@secondary-blue: #3a2714;
@secondary-dark-grey: #918473;
@secondary-gold: #c3b099;
@secondary-dark-blue: #62514b;

/* Tertiary Colours */
@tertiary-white: #ffffff;
@tertiary-soft-gold: #af9f88;
@tertiary-grey: #655c4d;
@tertiary-yellow-gold: #8c8067;
@tertiary-dark-white: #44391a;