/* Primary Colours */
@primary-dark-grey: #333;
@primary-gold: #FFD700;
@primary-dark-brown: #5C4033;
@primary-light-grey: #777;
@primary-light-gold: #FFEBCD;
@primary-light-brown: #A67C52;

/* Secondary Colours */
@secondary-light-grey: #f5f5f5;
@secondary-blue: #274472;
@secondary-dark-grey: #666;
@secondary-gold: #FFC125;
@secondary-dark-blue: #102E4A;

/* Tertiary Colours */
@tertiary-white: #ffffff;
@tertiary-soft-gold: #F0EAD6;
@tertiary-grey: #CCCCCC;
@tertiary-yellow-gold: #EEDC82;
@tertiary-dark-white: #F2F2F2;
